#container {
  display: flex;
  justify-content: space-between
}

.availability {
  color: green;
}

.busy {
  color: red;
}

.right-side {
  padding-left: 70px;
  margin-right: 20px;
  padding-right: 20px;
}
